@import url(https://fonts.googleapis.com/css?family=Erica+One);

body{
    background-image: url(images/background.jpg);
}

h1 {
    cursor: default;
    position: relative;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    margin: auto;
    display: block;

    -webkit-animation: bounce .3s ease infinite alternate;

    font-family: 'Erica One', cursive;
    font-size: 80px;
    color: #FFF;
    text-align: left;
    line-height: 100px;
    text-shadow: 0 1px 0 #CCC,
    0 2px 0 #CCC,
    0 3px 0 #CCC,
    0 4px 0 #CCC,
    0 5px 0 #CCC,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(0, 0, 0, .6);
}
/* ANIMATION */
@-webkit-keyframes bounce {
    100% {
        top: -30px;

        text-shadow: 0 1px 0 #CCC,
        0 2px 0 #CCC,
        0 3px 0 #CCC,
        0 4px 0 #CCC,
        0 5px 0 #CCC,
        0 6px 0 #CCC,
        0 7px 0 #CCC,
        0 8px 0 #CCC,
        0 9px 0 #CCC,
        0 30px 30px rgba(0, 0, 0, .3);
    }
}

.box{
    border: 1px solid blue ;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}
.graf{
    margin-left: 10%;
    }

#navegador ul{
    list-style-type: none;
    text-align: right;
    margin-right:30px ;
}
#navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}
#navegador li a {
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
}
#navegador li a:hover{
    background-color: #333333;
    color: #ffffff;
}

.divNav{
    float:right;
}

.section1{
    padding-top: 0px;
}
.subtitulo1{
    padding-left: 80px;
    color: white;
}

.divPrincipal{
    width: 1000px;
    height: 500px;
}

.defincion{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    height: 50px;
    width: 600px;
    padding-left:80px;
    color: white;
}

.imagenPrincipal{
    padding-left: 280px;
}

aside{
    float: right;
    overflow: hidden;
    margin-top: -392px;
    margin-right: 140px;
}

footer{
    padding-top: 200px;
}

.p1{
    font-family:sans-serif  ;
    text-align: justify;
}

.img1{
    padding-top: 50px;
}

.imgFooter{
    padding-left: 982px;
    position: relative;
    padding-block: 0px;
    margin-top: -37px;
    border-top-left-radius:     1em 5em;
    border-top-right-radius:    1em 5em;
    border-bottom-right-radius: 1em 5em;
    border-bottom-left-radius:  1em 5em;
}

.imgHome{
    height:50px;
    width:50px;
}

h2{
    font-size: 30pt;
    font-family: sans-serif;
    text-shadow: 10px 11px 18px rgba(300, 180, 100, 1),
    -10px -11px 18px red
}


canvas{
    width:400px;
    height:200px;
    border:2px solid #000000;
    padding: 0px;
    display: inline;
}

/*
width="400" height="200" style="border:2px solid #000000;"
*/